
src/Redux.Web.Domain/obj/Debug/ResolveAssemblyReference.cache
src/Redux.Web.Repositories/obj/Debug/
src/Redux.Web.Test/obj/Debug/ResolveAssemblyReference.cache
src/ReduxArch Web Application.5.0.ReSharper.user
src/_ReSharper.ReduxArch Web Application/
src/Redux.Web.Shared/obj/Debug/ResolveAssemblyReference.cache
src/_ReSharper.ReduxArch Web Application/
src/_ReSharper.ReduxArch Web Application/TodoCache/
src/_ReSharper.ReduxArch Web Application/TodoCache/.version
src/_ReSharper.ReduxArch Web Application/WebsiteFileReferences/.version
src/Redux.Web.Config/bin/
src/Redux.Web.Config/obj/Debug/
src/Redux.Web.Membership/bin/Debug/
src/Redux.Web.Repositories/bin/
src/Redux.Web.Test/bin/
src/Redux.Web.UI/bin/
src/Redux.Web.Domain/bin/
src/Redux.Web.Domain/bin/